.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(80px + 24px);
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.register-description {
  margin-bottom: 32px;
}
.form {
  width: 100%;
  margin-bottom: 32px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 24px;
  width: 100%;
}
.input-wrapper:last-child {
  margin-bottom: 0px;
}
.input-wrapper label {
  font-size: 14px;
  font-family: 'IBM Plex Sans';
  margin-bottom: 8px;
}
.input-wrapper label.invalid {
  color: #BC4B51;
}
.input-wrapper input {
  width: calc(100% - 16px);
  height: calc(32px - 16px);
  border-radius: 5px;
  background: #EAEAEA;
  border: unset;
  padding: 8px;
}
.input-wrapper input:focus {
  border-width: 1.5px;
  border-style: solid;
  border-color: #4AAD52;
  outline: unset;
}
.input-wrapper input.invalid {
  border-width: 1.5px;
  border-style: solid;
  border-color: #BC4B51;
  outline: unset;
}
.send-button {
  height: 48px;
  width: 100%;
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #333333;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.send-button:focus {
  outline: unset;
}
.send-button:active {
  border-width: 1.5px;
  border-style: solid;
  border-color: #4AAD52;
  color: #4AAD52;
}

.status-message {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.status-message.success.shouldRender{
  display: flex;
}
.status-message.error.shouldRender{
  display: flex;
}
.icon {
  width: 32px;
  height: 32px;
  margin: 0px;
  margin-right: 8px;
}
.row-holder {
  margin-bottom: 24px;
}

@media (min-width: 960px) {
  .register-container {
    max-width: 960px;
    align-items: flex-start;
  }
  .form {
    display: flex;
    width: 100%;
  }
  .send-button {
    width: max-content;
  }
  .row-holder {
    width: 50%;
    margin-right: 42px;
    margin-bottom: 0px;
  }
}