.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(80px + 24px);
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.article-container img {
  margin-bottom: 48px;
}
.article-header {
  width: 100%;
}
.article-body {
  width: 100%;
}
