.title-page {
  font-size: 24px;
  font-family: 'IBM Plex Sans';
}
.system-title {
  font-size: 20px;
  font-family: 'IBM Plex Sans';
  margin-top: 8px;
  margin-bottom: 8px;
}
.system-font {
  font-size: 18px;
  font-family: 'IBM Plex Sans';
  margin: 0
}

.teaser-title {
  font-size: 32px;
  font-family: 'Merriweather';
  margin-top: 0px;
  margin-bottom: 16px;
  color: #333333;
}
.teaser-title:hover {
  text-decoration: underline;
}
.teaser-subtitle {
  font-size: 20px;
  font-family: 'IBM Plex Sans';
  margin: 0px;
  color: #333333;
}

.article-title {
  font-size: 32px;
  font-family: 'Merriweather';
  margin-top: 24px;
  margin-bottom: 16px;
}

.article-subtitle {
  font-size: 20px;
  font-family: 'IBM Plex Sans';
  margin-top: 0px;
  margin-bottom: 16px;
}

.paragraph {
  font-size: 18px;
  font-family: 'IBM Plex Sans';
  margin-top: 0px;
  margin-bottom: 24px;
}

@media (min-width: 960px) {
  .system-font {
    font-size: 20px;
  }
}